.App {
  text-align: center;
}

.App-logo {
  height: 92px;  /* Increased from 80px by 15% */
  pointer-events: none;
  margin: 10px 0;  /* Add some vertical margin */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffeb3b;
}
